*{
    box-sizing: border-box;
}

/* remove border outline from inputs */
*:focus{
    outline: none;
}

:root {
    --fb-blue: #0a86f0;
    --fb-black: #090909;
    --fb-red: #ee2340;
    --fb-green: #3db557;
    --fb-yellow: #f6b023;
    --fb-bgcolor: #eef0f3;
    --fb-white: #fff;
    --fb-whitebg: #fff;
    --dark-color-text: #090909;
    --light-color-text: #606770;
    --button-link: #e0e2e8;
    --stories-bg: #090909;
  }


  body{
      background: var(--fb-bgcolor);
      font-family: Arial, Helvetica, sans-serif;
      color: var(--fb-black);
  }

/* header start */
  header{
      background: var(--fb-whitebg);
      height: 62px;
      display: flex;
      padding: 0 15px;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 20;
  }


  .header__logo-section{
      display: flex;
  }

  .header__logo-icon .fa-facebook{
      font-size: 40px;
      color: var(--fb-blue);
  }


  .header__logo-search{
      position: relative;
      margin-left: 10px;
  }
  .header__logo-search .fa-search{
      position: absolute;
      left: 10px;
      top: 14px;
      color: var(--light-color-text);
  }
  .header__logo-search input{
      background: var(--fb-bgcolor);
      padding: 10px;
      border-radius: 25px;
      font-size: 1.2rem;
      color: var(--light-color-text);
      padding-left: 35px;
      font-weight: 300;
      border: none;
}


.header__menu-tabs{
    display: flex;
    max-width: 600px;
    width: 100%;
    flex: none;
}
.header__menu-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 62px;
    border-bottom: 4px solid var(--fb-whitebg);
    color: var(--light-color-text);
    cursor: pointer;
    font-size: 1.3rem;
}
.header__menu-tab--active, .header__menu-tab:hover{
    border-bottom: 4px solid var(--fb-blue);
    transition: .4s;
}
.header__menu-tab:hover .fa, .header__menu-tab:hover .fab{
    color: var(--fb-blue);
    transition: .4s;
}
.header__menu-tab--active .fa, .header__menu-tab--active .fab{
    color: var(--fb-blue);
    transition: .4s;
}
.header__menu-tab .fa, .header__menu-tab .fab{
    position: relative;
}
.header__notification-bubble{
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--fb-red);
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -12px;
    right: -10px;
    font-weight: 700;
}



.header__account{
    display: flex;
}
.header__actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__user-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.header__user-name{
    font-size: .9rem;
    font-weight: 600;
    margin-right: 20px;
}
.header__circle-link{
    background: var(--button-link);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
    color: var(--dark-color-text);
}
.header__circle-link .fa-sort-down{
    font-size: 1.4rem;
    position: relative;
    top: -3px;
}
.header__link-icon .header__notification-bubble{
    top: -9px;
    right: -7px;
}

/* header end */



/* content area begin */
.content-area--feed{
    margin: 90px 15px 20px;
    display: flex;
}
.left-sidenav__item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.left-sidenav__item-img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 20px;
}
.left-sidenav__item-title{
    font-weight: 400;
}
